body {
    background-color:aliceblue;
    font-family: monospace;
  }
  h1, h3 {
      background-color: rgb(180,180, 179);
  }

#ceu {
position: inherit;
top: 200 px;
left: 10px;
}

#anaua {
position: inherit;
}

div {
    block-size: initial;
}