body {
    background-color: #f5f5f5;
    font-family: monospace;
    color: #525252;
  }

  .background {
      background-color: rgb(180,180, 179);
  }

 .button {
    color #fff;
    padding: 15px 30px;
    text-decoration: none;
 }

  div{
    display: block;
 }

 .header {
    background-image:(url("imagem/44bd33ee0555f5bc813b498354d819a7\ \(1\).jpg");
    



 #ceu {
z-index: 1;
top: 20px;
left: 10px;
}

#anaua {
z-index: 2;
top: 10px;
left: 10px;
border-radius:100%;
}

